<aside class="sidebar-container">
  <div class="sidebar-header">
    <h1 class="brand-title">Smart Travel AI</h1>
    <p class="brand-subtitle">Control Center v.2.4</p>
  </div>
  
  <nav class="sidebar-nav">
    <a class="nav-item active" href="#">
      <lucide-icon name="layout-dashboard"></lucide-icon>
      <span>Dashboard</span>
    </a>
    <a class="nav-item" href="#">
      <lucide-icon name="calendar"></lucide-icon>
      <span>Reservas</span>
    </a>
    <a class="nav-item" href="#">
      <lucide-icon name="concierge-bell"></lucide-icon>
      <span>Servicios</span>
    </a>
    <a class="nav-item" href="#">
      <lucide-icon name="users"></lucide-icon>
      <span>Clientes</span>
    </a>
    <a class="nav-item" href="#">
      <lucide-icon name="bar-chart"></lucide-icon>
      <span>Estadísticas</span>
    </a>
    <a class="nav-item" href="#">
      <lucide-icon name="bell"></lucide-icon>
      <span>Notificaciones</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <a class="nav-item mb-md" href="#">
      <lucide-icon name="settings"></lucide-icon>
      <span>Configuración</span>
    </a>
    
    <div class="profile-card">
      <img alt="Provider Profile" class="profile-img" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAUAMu3Kmiug_8GGerrG6eZJlzeZYIcHWk9F5ag1nPdL2x6_J5ccAz0txc3OSzdoCOa61eCYoRJpF-YoMBMZ5QODCemtwnn8tLr4bxLaUVwRjlay82I2nlF67sjVKbugsZr_g02UHfFr1QO0rmsFUMaBQsBRcVFMGnqSUGyg6DFwtdcVmwFERVw1rbbiwN99MDzg59wnIMaUOWyRC1AVwGUd4lGUgMGJESmbvgUsmhaauGaULUN_jH7Nb1fFypoF3qaWGSQPwsQyEI" />
      <div class="profile-info">
        <p class="profile-name">Marco Rossi</p>
        <p class="profile-role">Executive Admin</p>
      </div>
    </div>
  </div>
</aside>
