@if (destination()) {
  <div class="destination-card">
    @if (destination()!.imagen) {
      <div class="destination-image-container">
        <img [src]="destination()!.imagen" [alt]="destination()!.nombre" class="destination-image" />
      </div>
    }
    <div class="destination-content">
      <div class="destination-tipo">
        <span class="tipo-badge">{{ destination()!.tipo_experiencia }}</span>
      </div>
      <h3 class="destination-title">{{ destination()!.nombre }}</h3>
      <p class="destination-country">{{ destination()!.ciudad }}, {{ destination()!.pais }}</p>
    </div>
  </div>
}
