@if (service()) {
  <div class="service-card">
    <div class="service-icon-container">
      <lucide-icon name="Briefcase" class="icon"></lucide-icon>
    </div>

    <div class="service-content">
      <h3 class="service-name">{{ service()!.nombre }}</h3>
      <p class="service-description">{{ service()!.descripcion }}</p>
      <div class="service-meta">
        <span class="service-price">€{{ service()!.precio }}</span>
        <span class="service-disponible" [class.disponible]="service()!.disponibilidad">
          {{ service()!.disponibilidad ? 'Disponible' : 'No disponible' }}
        </span>
      </div>
    </div>
  </div>
}
