<section class="adjustments-section">
  <fieldset class="adjustments-fieldset">
    <legend class="section-title">
      {{ 'ACCESSIBILITY.CONTRAST_COLOR' | translate }}
    </legend>
    <div class="toggles-container">
      <label class="toggle-option">
        <input type="checkbox" class="toggle-input" />
        <div class="toggle-label-text">
          <span class="toggle-title">{{ 'ACCESSIBILITY.HIGH_CONTRAST_45' | translate }}</span>
          <span class="toggle-desc">{{ 'ACCESSIBILITY.HIGH_CONTRAST_45_DESC' | translate }}</span>
        </div>
      </label>
      <label class="toggle-option">
        <input type="checkbox" class="toggle-input" />
        <div class="toggle-label-text">
          <span class="toggle-title">{{ 'ACCESSIBILITY.BORDER_CONTRAST' | translate }}</span>
          <span class="toggle-desc">{{ 'ACCESSIBILITY.BORDER_CONTRAST_DESC' | translate }}</span>
        </div>
      </label>
    </div>
  </fieldset>
</section>
